[Desktop Entry]
Version=1.0
Name=ImageJ
GenericName=ImageJ
X-GNOME-FullName=ImageJ
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/home/lblondel/Documents/Harvard/ExtavourLab/projects/Project_Parhyale/Scripts/LightSheetUtils/snakemake-workflows/Fiji.app/ImageJ-linux64 %F
TryExec=/home/lblondel/Documents/Harvard/ExtavourLab/projects/Project_Parhyale/Scripts/LightSheetUtils/snakemake-workflows/Fiji.app/ImageJ-linux64
Terminal=false
StartupNotify=true
MimeType=image/*;
Icon=/home/lblondel/Documents/Harvard/ExtavourLab/projects/Project_Parhyale/Scripts/LightSheetUtils/snakemake-workflows/Fiji.app/images/icon.png
StartupWMClass=net-imagej-launcher-ClassLauncher
